In [ ]:
import sqlite3

In [ ]:
cliente = 'clientes.db'

#
Criar tabelas

In [ ]:
script_clientes = '''CREATE TABLE IF NOT EXIST clientes(
                id  INTEGER PRIMARY KEY AUTOINCREMENT,
                nome  TEXT NOT NULL
                IDADE  INTERGER NOT NULL
                email TEXT NOT NULL
);'''

try:
    with sqlite3.connet(cliente) as con:
# Criar um cursor
    cur = con.cursor()

    # Executar  script
    cur.execute(script_clientes)

    # Salvar as alterações

    con.commit()
    print("Tabela criada com sucesso")
except sqlite3.OperationalError as e:
    print('Erro', e)

# Inserir Dados

In [ ]:
sql = 'INSERT INTO  clientes (nome, idade, email) VALUES (?,?,?)'
try:
    with sqlite3.connect(cliente) as con:
        cur = con.cursor()
        cur.execute(sql, ('Abed', 16 'abed@gmail.com'))
        con.commit
except sqlite3.OperationalError as e:
    print('Erro', e)

#Atualizar um registro

In [ ]:
sql = 'UPDATE Clientes SET idade = ? WHERE id = ?'

try:
    with sqlite3.connect(cliente) as con:
        cur = con.cursor()
        
        cur.execute(sql,(28, 1))
        con.commit()
        
except sqlite3.OperationalError as e:
    print('Erro:', e)